.form_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;

    input {
        padding: 5px 12px 5px 12px;
        border: 2px solid gray;
        border-radius: 5px;
        width: 150px;

        margin-top: 10px;
    }

    input:focus-visible {
        border-color: black;
    }

    select:focus {

    }

    button {
        padding: 5px 12px 5px 12px;
        border-radius: 5px;
        border: 2px solid gray;

        margin-top: 10px;
    }

    button:active {
        box-shadow: 0 5px #666;
        transform: translateY(2px);
    }

}